parameters:
    level: 9
    ignoreErrors:
         - identifier: missingType.iterableValue
         - identifier: property.onlyRead
         - identifier: property.onlyWritten
         - identifier: property.readOnlyByPhpDocDefaultValue
