parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Property .* is never written, only read#'
		- '#Property .* is never read, only written#'
