<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false"
         backupStaticAttributes="false" beStrictAboutTestsThatDoNotTestAnything="false" colors="true" verbose="true"
         convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true"
         failOnRisky="true" failOnWarning="true" stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="REDIS_CONNECTION_DSN" value="tcp://localhost:6379"/>
    </php>
    <testsuites>

        <testsuite name="Component: common">
            <directory>./vendor/php-service-bus/common/tests/</directory>
        </testsuite>

        <testsuite name="Component: mutex">
            <directory>./vendor/php-service-bus/mutex/tests/</directory>
        </testsuite>

        <testsuite name="Component: http client">
            <directory>./vendor/php-service-bus/http-client/tests/</directory>
        </testsuite>

        <testsuite name="Component: message serializer">
            <directory>./vendor/php-service-bus/message-serializer/tests/</directory>
        </testsuite>

        <testsuite name="Telegram component">
            <directory>./tests/</directory>
        </testsuite>

    </testsuites>
</phpunit>